.centerScreen {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
